{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}

<!-- Contact widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
    
    <h3>Let's chat!</h3>
    
    <ul class="fa-ul" itemscope>

      {{ with $.Site.Params.email }}
      <li>
        <i class="fa-li fa fa-comments-o fa-2x" aria-hidden="true"></i>
        <form action="https://formspree.io/{{ . }}" method="POST">
          <label for="name">Your name: </label>
          <input type="text" name="name" required="required" placeholder="here"><br>
          <label for="email">Your email: </label>
          <input type="email" name="_replyto" required="required" placeholder="here"><br>
          <label for="message">Your message:</label><br>
          <textarea rows="4" name="message" id="message" required="required" class="form-control" placeholder="I can't wait to read this!"></textarea>
          <input type="hidden" name="_next" value="/html/thanks.html" />
          <input type="submit" value="Send" name="submit" class="btn btn-primary btn-outline">
          <input type="hidden" name="_subject" value="Website message" />
          <input type="text" name="_gotcha" style="display:none" />
        </form>
      </li>
      {{ end }}
      
    </ul>
    <h3>Let's connect!</h3>
    <ul class="fa-ul" itemscope>

      {{ with $.Site.Params.email }}
      <li>
        <i class="fa-li fa fa-paper-plane fa-2x" aria-hidden="true"></i>
        <span id="person-email" itemprop="email">
        {{- if $autolink }}<a href="mailto:{{ . }}">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with $.Site.Params.keybase }}
      <li>
        <i class="fa-li fa fa-lock fa-2x" aria-hidden="true"></i>
        <span>
          <a href="https://keybase.io/{{ . }}" target="_blank">@{{ . }}</a> on Keybase.
        </span>
      </li>
      {{ end }}

      {{ with $.Site.Params.phone }}
      <li>
        <i class="fa-li fa fa-phone fa-2x" aria-hidden="true"></i>
        <span id="person-telephone" itemprop="telephone">
        {{- if $autolink }}<a href="tel:{{ . }}">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with $.Site.Params.skype }}
      <li>
        <i class="fa-li fa fa-skype fa-2x" aria-hidden="true"></i>
        <span>
        {{- if $autolink }}<a href="skype:{{ . }}?call">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with $.Site.Params.telegram }}
      <li>
        <i class="fa-li fa fa-telegram fa-2x" aria-hidden="true"></i>
        <span>
        {{- if $autolink }}<a href="https://telegram.me/{{ . }}" target="_blank">@{{ . }}</a>{{ else }}@{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with $.Site.Params.address }}
      <li>
        <i class="fa-li fa fa-map-marker fa-2x" aria-hidden="true"></i>
        <span id="person-address" itemprop="address">{{ . }}</span>
      </li>
      {{ end }}

      {{ with $.Site.Params.office_hours }}
      <li>
        <i class="fa-li fa fa-clock-o fa-2x" aria-hidden="true"></i>
        <span>{{ . }}</span>
      </li>
      {{ end }}
      
      {{ with $.Site.Params.twitter }}
      <li>
        <i class="fa-li fa fa-twitter fa-2x" aria-hidden="true"></i>
        <span>
        {{- if $autolink }}<a href="https://twitter.com/{{ . }}" target="_blank">@{{ . }}</a>{{ else }}@{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}
      
      {{ with $.Site.Params.github }}
      <li>
        <i class="fa-li fa fa-github fa-2x" aria-hidden="true"></i>
        <span>
        {{- if $autolink }}<a href="https://github.com/{{ . }}" target="_blank">@{{ . }}</a>{{ else }}@{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}
      

    </ul>

  </div>
</div>
