{{- define "main" -}}

<article class="article">
  
  {{ partial "page_header" . }}
  
  <div class="article-container">
    
    <div class="row">
    
    <div class="col-12 col-lg-10ish article-style">
      {{ .Content }}
    </div>
    
    <div class="col-12 col-lg-2ish docs-toc">
      <ul class="nav toc-top">
        <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" }}</a></li>
      </ul>

      {{ .TableOfContents }}

      {{ partial "docs_toc_foot" . }}
    </div>
  </div>
    <div class="col-12 col-lg-10ish article-style">
    <script src="https://utteranc.es/client.js"
        repo="rbind/apreshill"
        issue-term="title"
        label="comments :crystal_ball:"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
    </div>
  {{ partial "page_footer" . }}
  </div>
</article>

{{- end -}}
