/* hanken-grotesk-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/hanken-grotesk-v7-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('fonts/hanken-grotesk-v7-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hanken-grotesk-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/hanken-grotesk-v7-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('fonts/hanken-grotesk-v7-latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hanken-grotesk-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Hanken Grotesk';
  font-style: bold;
  font-weight: 600;
  src: url('fonts/hanken-grotesk-v7-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('fonts/hanken-grotesk-v7-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	--decorator-outer-offset-top: .3rem;
	--decorator-outer-offset-left: -.475rem;
	--decorator-border-width: 1px;
	--decorator-outer-dim: 12px;
	--decorator-border: 4px solid #F3E0E1;
}

.decorator {
 flex:0 0 0;
 position:relative;
 width:2pt;
 min-height:100%;
 border-left:var(--decorator-border);
}
.decorator::before {
 position:absolute;
 top:var(--decorator-outer-offset-top);
 left:var(--decorator-outer-offset-left);
 content:' ';
 display:block;
 width:var(--decorator-outer-dim);
 height:var(--decorator-outer-dim);
 border-radius:calc(var(--decorator-outer-dim) / 2);
 background-color:#e8987f
}
.decorator::after {
 position:absolute;
 top:calc(var(--decorator-outer-offset-top) + var(--decorator-border-width));
 left:calc(var(--decorator-outer-offset-left) + var(--decorator-border-width));
 content:' ';
 display:block;
 width:calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
 height:calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
 border-radius:calc((var(--decorator-outer-dim) - (var(--decorator-border-width) * 2)) / 2);
 background-color:#e8987f
}
.blocks:last-child .decorator {
 margin-bottom:0.25in
}
