// set custom hex colors
$siteBgColorCustom:    #fffbf1;     // latte
$sidebarBgColorCustom: #fff1e5;     // apricot
$textColorCustom: #000;             // black
$sidebarTextColorCustom: #000;      // black
$headlineColorCustom: #ff4800;      // orange
$headingColorCustom: #088cb8;       // blue
$bodyLinkColorCustom: #231f20;      // black
$navLinkColorCustom: #231f20;       // black
$sidebarLinkColorCustom: #000;      // black
$footerTextColorCustom: #231f20;    // black
$buttonTextColorCustom: #231f20;    // black
$buttonHoverTextColorCustom: #fff;  // white
$buttonBgColorCustom: #fffbf1;      // latte
$buttonHoverBgColorCustom: #231f20; // black
$borderColorCustom: #088cb8;        // blue
