// set custom hex colors
$siteBgColorCustom:    #fff8f5;   // cabbage*
$sidebarBgColorCustom: #d4e7e5;   // light blue*
$textColorCustom: #332f2e;        // deep gray
$sidebarTextColorCustom: #332f2e; // deep gray
$headlineColorCustom: #465741;    // duck green*
$headingColorCustom: #465741;     // duck green*
$bodyLinkColorCustom: #303546;    // gunmetal*
$navLinkColorCustom: #303546;    // gunmetal*
$sidebarLinkColorCustom: #456B75; // steel*
$footerTextColorCustom: #332f2e;  // deep gray
$buttonTextColorCustom: #F6F5ED;  // white
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #303546;    // gunmetal*
$buttonHoverBgColorCustom: #20242f;// raisin*
$borderColorCustom: #4e7984;      // liberty*
