// set custom hex colors
$siteBgColorCustom:    #fff8f5;   // snow*
$sidebarBgColorCustom: #D2DFEE;   // beau*
$textColorCustom: #303546;        // gunmetal*
$sidebarTextColorCustom: #4b5e6b; // black coral*
$headlineColorCustom: #982649;    // big dig oruby*
$headingColorCustom: #982649;     // big dig oruby*
$bodyLinkColorCustom: #4b5e6b;    // black coral*
$navLinkColorCustom: #4b5e6b;     // black coral*
$sidebarLinkColorCustom: #4b5e6b; // black coral*
$footerTextColorCustom: #4b5e6b;  // black coral*
$buttonTextColorCustom: #F6F5ED;  // white
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #4b5e6b;    // black coral*
$buttonHoverBgColorCustom: #982649;// big dig oruby*
$borderColorCustom: #D2DDEE;       // peri*
