// set custom hex colors
$siteBgColorCustom:    #FAF7F5;        // white
$sidebarBgColorCustom: #b5dfe8;     // light blue
$textColorCustom: #000;             // black
$sidebarTextColorCustom: #000;      // black
$headlineColorCustom: #000;         // black
$headingColorCustom: #000;          // black
$bodyLinkColorCustom: #000;         // black
$navLinkColorCustom: #000;          // black
$sidebarLinkColorCustom: #000;      // black
$footerTextColorCustom: #231f20;    // black
$buttonTextColorCustom: #000;       // black
$buttonHoverTextColorCustom: #fff;  // white
$buttonBgColorCustom: #b5dfe8;      // powder blue
$buttonHoverBgColorCustom: #2d2e4d; // space cadet
$borderColorCustom: #b5dfe8;        // blue
