// set custom hex colors
$siteBgColorCustom: #F3E0E1;      // blush
$sidebarBgColorCustom: #F6F5ED;   // white
$textColorCustom: #332f2e;        // deep gray
$sidebarTextColorCustom: #332f2e; // deep gray
$headlineColorCustom: #0144a3;    // bright blue
$headingColorCustom: #131888;     // deep blue
$bodyLinkColorCustom: #0144a3;    // bright blue
$navLinkColorCustom: #131888;     // deep blue
$sidebarLinkColorCustom: #131888; // deep blue
$footerTextColorCustom: #332f2e;  // deep gray
$buttonTextColorCustom: #F6F5ED;   // white
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #0144a3;    // bright blue
$buttonHoverBgColorCustom: #131888;// deep blue
$borderColorCustom: #f0ca60;      // gold
