// set custom hex colors
$siteBgColorCustom:    #F6F5ED;   // white
$sidebarBgColorCustom: #F3E0E1;   // blush
$textColorCustom: #332f2e;        // deep gray
$sidebarTextColorCustom: #332f2e; // deep gray
$headlineColorCustom: #131888;    // deep blue
$headingColorCustom: #0144a3;     // bright blue
$bodyLinkColorCustom: #0144a3;    // bright blue
$navLinkColorCustom: #0144a3;     // bright blue
$sidebarLinkColorCustom: #131888; // deep blue
$footerTextColorCustom: #332f2e;  // deep gray
$buttonTextColorCustom: #F6F5ED;  // white
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #131888;    // deep blue
$buttonHoverBgColorCustom: #0144a3;// bright blue
$borderColorCustom: #f0ca60;      // gold
