// set custom hex colors
$siteBgColorCustom:    #FFF7F4;        // pale
$sidebarBgColorCustom: #cee0dc;        // lt green
$textColorCustom: #121212;             // black
$sidebarTextColorCustom: #121212;      // black
$headlineColorCustom: #121212;         // black
$headingColorCustom: #121212;          // black
$bodyLinkColorCustom: #073429;         // green
$navLinkColorCustom: #121212;          // black
$sidebarLinkColorCustom: #006B77;      // teal
$footerTextColorCustom: #121212;       // black
$buttonTextColorCustom: #121212;       // black
$buttonHoverTextColorCustom: #fff;     // white
$buttonBgColorCustom: #cee0dc;         // lt green
$buttonHoverBgColorCustom: #121212;    // black
$borderColorCustom: #cee0dc;           // lt green
