  <!--this adds github edit button to all posts-->
{{ if $.File.Path }}

{{ $Rmd := (print $.File.BaseFileName ".Rmd") }}

{{ if (where (readDir (print "content/" $.File.Dir)) "Name" $Rmd) }}
  {{ $.Scratch.Set "FilePath" (print $.File.Dir $Rmd) }}
{{ else }}
  {{ $.Scratch.Set "FilePath" $.File.Path }}
{{ end }}

  {{ with $.Site.Params.GithubEdit }} 
  <div class = "github-edit">
  <span class="article-tags">
    <a class="badge badge-github" href="{{ . }}{{ $.Scratch.Get "FilePath" }}" target="_blank"><i class="fas fa-pencil-alt"></i>&nbspSuggest an edit to this post on GitHub</a>&nbsp{{ else }}{{ . }}
  </span>
  </div>
  {{ end }}
{{ end }}
  <!--end github edit code-->
